# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# gauge
gauge_bin
reports
logs
libs
bin
.gauge

#
.settings
.project
.classpath
